header {
    display: flex;
    justify-content: center;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    height: 68px;
    background-color: var(--bg-header);
    /* blur apenas no header */
    backdrop-filter: blur(10px);
    outline: 1px solid var(--border-default);
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 60px;
    width: 90%;
    max-width: 1860px;
}

.nav-logo {
    font-size: 1.6rem;
    font-weight: bold;
    background: var(--gradient-purple-blue);
    /* Preenche apenas o texto */
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    cursor: pointer;
    transition: all 0.3s linear;
}

.nav-logo:hover {
    transform: scale(1.1);
}

.nav-menu {
    list-style: none;
    display: flex;
    gap: 40px;
    font-size: 1.1rem;
}

.nav-link {
    display: inline-block;
    text-decoration: none;
    color: var(--text-header);
    transition: all 0.3s linear;
}

.nav-link:hover {
    color: var(--text-header-hover);
    transform: translateY(-4px);
}