header {
    display: flex;
    justify-content: center;
    width: 100%;
    position: fixed;
    top: 0;
    height: 68px;
    background-color: var(--color-primary);
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 60px;
    width: 100%;
    max-width: 1860px;
}

.nav-logo {
    font-size: 2rem;
    font-weight: bold;
    color: var(--color-text-primary);
}

.nav-menu {
    list-style: none;
    display: flex;
    gap: 40px;
    font-size: 1.2rem;
}

.nav-link {
    text-decoration: none;
    color: var(--color-text-primary);
}